@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: ui-serif, Georgia, "Times New Roman", Times, serif;
  --dark-mode-bg-color: #021121;
  --dark-mode-text-color: #ffffff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

/* Dark Mode Styles */

.dark body{
  background-color: var(--dark-mode-bg-color);
  color: var(--dark-mode-text-color);}

.dark select{
  color: black;
}